{::options parse_block_html="true" /}
<div class="syntax-toc">

* <a href="{{ site.baseurl }}/syntax">Introduction</a>
* <a href="{{ site.baseurl }}/syntax/output">Sample Output</a>
* <a href="{{ site.baseurl }}/syntax/concepts">Concepts</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concept-lexer">Lexic</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concept-rules">Syntax</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concept-context-free-language">Context Free Languages</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concept-top-bottom">Top-down, Bottom-up</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concept-context-free-grammar">Context Free Grammar</a>
  * <a href="{{ site.baseurl }}/syntax/concepts#concepts-algorithms">Algorithms</a>
* <a href="{{ site.baseurl }}/syntax/structure">File Structure</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct">Structure</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct-decl">Meta Symbols</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct-java">Java Example</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct-c">C Example</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct-pascal">Pascal Example</a>
  * <a href="{{ site.baseurl }}/syntax/structure#struct-javascript">Javascript Example</a>
* <a href="{{ site.baseurl }}/syntax/lexer">Lexer</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#token-def">Token Definitions</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-code">Lexer Code</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#code-symbols">Code Symbols</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-modes">Lexer Modes</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-disambiguation">Disambiguation</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-by-hand">Writing Your Own Lexer</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-getchar">Getting Characters</a>
  * <a href="{{ site.baseurl }}/syntax/lexer#lexer-regex">Regular Expressions</a>
* <a href="{{ site.baseurl }}/syntax/rules">Production Rules</a>
  * <a href="{{ site.baseurl }}/syntax/rules#rules-example">Learn by Example</a>
  * <a href="{{ site.baseurl }}/syntax/rules#rules-code">Code Generation</a>
  * <a href="{{ site.baseurl }}/syntax/rules#rules-intermediate">Intermediate Code</a>
  * <a href="{{ site.baseurl }}/syntax/rules#rules-empty">Empty Rules</a>
  * <a href="{{ site.baseurl }}/syntax/rules#rules-prec">Rules Precedence</a>
* <a href="{{ site.baseurl }}/syntax/errors">Error Management</a>
  * <a href="{{ site.baseurl }}/syntax/errors#errors-tokens">Error Tokens</a>
  * <a href="{{ site.baseurl }}/syntax/errors#errors-csample">Errors: C Example</a>
  * <a href="{{ site.baseurl }}/syntax/errors#errors-pascalsample">Errors: Pascal Example</a>
* <a href="{{ site.baseurl }}/syntax/lexdriven">Lexer Driven Parsing</a>
  * <a href="{{ site.baseurl }}/syntax/lexdriven#lexdriven-javascriptexample">Javascript Example</a>

------------

* <a href="{{ site.baseurl }}/syntax/syntax-maven-plugin">Syntax Maven Plugin</a>
  * <a href="{{ site.baseurl }}/syntax/syntax-maven-plugin-usage">Usage</a>
  * <a href="{{ site.baseurl }}/syntax/syntax-maven-plugin-reference">Reference</a>

</div>